::-moz-selection {
    background-color: #f6f3f1;
}
::selection {
    background-color: #f6f3f1;
}

body {
    max-width: 28em;
    margin: auto;
    padding: 20px;
    font-family: times, serif;
    font-size: 140%;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #4a2617;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    color: #428bca;
}

.date {
    color: #aaa;
}

p {
    text-align: justify;
}

blockquote {
    padding: 0 0.5em;
    border-left: 2px solid #428bca;
    font-style: italic;
}

pre, code {
    font-family: Inconsolata, Hack, Consolas, monospace;
    background-color: #f6f3f1;
}

pre {
    padding: 12px 20px;
}

code {
    padding: 0.12em 0.18em;
}

a {
    color: #d9534f;
    text-decoration: none;
    font-weight: bold;
}
a:hover, a code:hover {
    background-color: #d9534f;
    color: #f3f2f1;
}
