body
  font-family: "Linux Libertine", "Times New Roman", serif
  max-width: 32em
  margin: 0 auto
  line-height: 1.3
  background-color: #f9f9f9
  text-align: justify

a
  text-decoration: none
  color: #d9534f

a:hover, a code:hover
  background-color: #d9534f
  color: #f6f3f1

pre, code, .logo
  font-family: "Inconsolata", "Hack", "Consolas", monospace

pre, code
  background-color: #eeeeee

pre
  padding: 0.6em 1.0em

code
  padding: 0.12em 0.18em

h1, h2, h3, h4, h5, h6
  font-family: "Arial", sans-serif
  color: #428bca

blockquote
  font-size: 90%
