@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap");

@font-face {
  font-family: "Linux Libertine";
  src: url("fonts/libertine/linux-libertine/libertine-R.ttf") format("truetype"),
    url("fonts/libertine/linux-libertine/libertine-R.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Linux Libertine";
  src: url("fonts/libertine/linux-libertine/libertine-RB.ttf")
      format("truetype"),
    url("fonts/libertine/linux-libertine/libertine-RB.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Linux Libertine";
  src: url("fonts/libertine/linux-libertine/libertine-RI.ttf")
      format("truetype"),
    url("fonts/libertine/linux-libertine/libertine-RI.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Linux Libertine";
  src: url("fonts/libertine/linux-libertine/libertine-RBI.ttf")
      format("truetype"),
    url("fonts/libertine/linux-libertine/libertine-RBI.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Linux Biolinum";
  src: url("fonts/libertine/linux-biolinum/biolinum-R.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Linux Biolinum";
  src: url("fonts/libertine/linux-biolinum/biolinum-RB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Linux Biolinum";
  src: url("fonts/libertine/linux-biolinum/biolinum-RI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

$monospace: "Inconsolata", "Hack", "Consolas", monospace;
$serif: "Linux Libertine", "Cambria", serif;
$sans-serif: "Linux Biolinum", "Helvetica", "Arial", sans-serif;

$foreground: #352e30;
$foreground-fade: gray;
$background: white;
$background-shade: lightgray;
$blue: #4172a3;
$violet-fade: #aeaece;
$violet: #9090c0;

::selection {
  background: $background-shade;
}
::-moz-selection {
  background: $background-shade;
}

body {
  font: 1.25em $serif;
  max-width: 32em;
  margin: 0 auto;
  padding: 1em;
  color: $foreground;
}

body article {
  margin-left: 4em;
}

#logo {
  font: 2.4em $monospace;
  font-weight: normal;
  text-align: center;
  color: $background-shade;
  b {
    color: $blue;
  }
}

.subtitle {
  font-style: italic;
}

.date {
  font-variant: small-caps;
  color: $foreground-fade;
}

.header-section-number {
  color: $violet-fade;
  position: relative;
  float: right;
  right: 104%;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-family: $sans-serif;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: $blue;
}

p {
  hyphens: auto;
  text-align: justify;
  line-height: 1.35;
}

pre,
code {
  font-family: $monospace;
}

pre {
  font-size: 90%;
}

table {
  margin: 0 auto;
  caption {
    font-variant: small-caps;
    margin-bottom: 0.5em;
  }
  td {
    padding: 1px 32px 1px 0;
  }
}

hr {
  overflow: visible; // for IE
  padding: 0;
  border: none;
  border-top: $background-shade solid;
  margin: 3em 0 0;
  text-align: center;
}

hr:after {
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  background: white;
  color: gray;
  content: "∫";
}

img,
figure,
video {
  max-width: 100%;
  margin: 0 auto;
}

figcaption {
  font-variant: small-caps;
  text-align: center;
}

footer {
  margin-top: 2em;
}
